nav {
    background-color: #FFFFFF;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display : flex;
    gap: 20px;
}

nav ul li ul {
    display : none;
}

nav ul li:hover > ul {
    display : block;
    position: absolute;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.book-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.book-item{
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;;
}